# PandasQuest

## 1. Data Creation and Inspection

In [58]:
#Imagine you have a Python dictionary like this:
#data_dict = {
    #'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    #'Last Name': ['Smith', 'Jones', 'Brown', 'Wilson'],
    #'Salary': [60000, 85000, 70000, 95000],
    #'Department': ['HR', 'Sales', 'IT', 'Sales'],
    #'Bonus%': [5, 10, 5, 15]}
# 1) Creation: Write the code to convert data_dict into a pandas DataFrame and store it in a variable named df.
# 2) Inspection: Write the code to display the first 3 rows of df and the code to display the data types of all its columns.

In [59]:
import numpy as np
import pandas as pd
data_dict = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Last Name': ['Smith', 'Jones', 'Brown', 'Wilson'],
    'Salary': [60000, 85000, 70000, 95000],
    'Department': ['HR', 'Sales', 'IT', 'Sales'],
    'Bonus%': [5, 10, 5, 15]
}
df=pd.DataFrame(data_dict)
print(df.head(3))
print(df.info())

  First Name Last Name  Salary Department  Bonus%
0      Alice     Smith   60000         HR       5
1        Bob     Jones   85000      Sales      10
2    Charlie     Brown   70000         IT       5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  4 non-null      object
 1   Last Name   4 non-null      object
 2   Salary      4 non-null      int64
 3   Department  4 non-null      object
 4   Bonus%      4 non-null      int64
dtypes: int64(2), object(3)
memory usage: 292.0+ bytes
None

## 2. Column-Based Operations

In [60]:
#Using the df created above:
# 1) Mean Calculation: Calculate and print the mean of the Salary column.
# 2) New Column (Joining): Create a new column named FullName by joining the First Name and Last Name columns with a space in between.
# 3) New Column (Calculation): Create a new column named BonusAmount by calculating the actual bonus amount. The formula is Salary√ó(Bonus%/100).

In [61]:
print(df["Salary"].mean())
df["FullName"]=df["First Name"]+" "+df["Last Name"]
print(df)
df["BonusAmount"]=df["Salary"]*df["Bonus%"]/100
print(df)

77500.0
  First Name Last Name  Salary Department  Bonus%       FullName
0      Alice     Smith   60000         HR       5    Alice Smith
1        Bob     Jones   85000      Sales      10      Bob Jones
2    Charlie     Brown   70000         IT       5  Charlie Brown
3      David    Wilson   95000      Sales      15   David Wilson
  First Name Last Name  Salary Department  Bonus%       FullName  BonusAmount
0      Alice     Smith   60000         HR       5    Alice Smith       3000.0
1        Bob     Jones   85000      Sales      10      Bob Jones       8500.0
2    Charlie     Brown   70000         IT       5  Charlie Brown       3500.0
3      David    Wilson   95000      Sales      15   David Wilson      14250.0

## 3. Data Summarization

In [62]:
# 1) Data Type Conversion: Write the code to find out the statistical summary (like count, mean, min, max, etc.) of all the numeric columns in df.

In [63]:
print(df.describe())

             Salary     Bonus%   BonusAmount
count      4.000000   4.000000      4.000000
mean   77500.000000   8.750000   7312.500000
std    15545.631755   4.787136   5249.503945
min    60000.000000   5.000000   3000.000000
25%    67500.000000   5.000000   3375.000000
50%    77500.000000   7.500000   6000.000000
75%    87500.000000  11.250000   9937.500000
max    95000.000000  15.000000  14250.000000

## 4. Handling Missing and Duplicate Data

In [64]:
#Assume you have a DataFrame named data with some missing and duplicate values:
# 1) Check for Nulls: Write the code to count the total number of null values in each column of data.
# 2) Fill Nulls: Fill any null values in the Salary column of data using the previous non-null value (Forward Fill).
# 3) Identify Duplicates: Write the code to find or mark (with a boolean True) fully duplicated rows in data.
# 4) Remove Duplicates: Write the code to remove all fully duplicated rows from data.
#Note: This dataset contains no duplicate rows or null values. However, the following code can be used to detect and remove duplicates and nulls
#if they exist.

In [65]:
print(df.isnull().sum())
print(df["Salary"].fillna(method="ffill"))
#or
#print(df["Salary"].ffill()) for future after depreciation
print(df.duplicated())
print(df.drop_duplicates())

First Name     0
Last Name      0
Salary         0
Department     0
Bonus%         0
FullName       0
BonusAmount    0
dtype: int64
0    60000
1    85000
2    70000
3    95000
Name: Salary, dtype: int64
0    False
1    False
2    False
3    False
dtype: bool
  First Name Last Name  Salary Department  Bonus%       FullName  BonusAmount
0      Alice     Smith   60000         HR       5    Alice Smith       3000.0
1        Bob     Jones   85000      Sales      10      Bob Jones       8500.0
2    Charlie     Brown   70000         IT       5  Charlie Brown       3500.0
3      David    Wilson   95000      Sales      15   David Wilson      14250.0

C:\Users\eisex\AppData\Local\Temp\ipykernel_5620\151951988.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df["Salary"].fillna(method="ffill"))

## 5. Aggregation and Reshaping

In [66]:
# 1) Grouping (groupby): Calculate and print the average Salary for each Department.
# 2) Pivoting: Reshape df so that the Department becomes the new index (rows), Last Name becomes the columns, and the Salary is the value.
#Print the resulting pivoted table.

In [67]:
print(df.groupby(["Department"]).agg({"Salary":"mean"}))
print(df.pivot(index="Department",columns="Last Name",values="Salary"))

             Salary
Department
HR          60000.0
IT          70000.0
Sales       90000.0
Last Name     Brown    Jones    Smith   Wilson
Department
HR              NaN      NaN  60000.0      NaN
IT          70000.0      NaN      NaN      NaN
Sales           NaN  85000.0      NaN  95000.0

## 6. Combining DataFrames

In [68]:
#Assume you have a second DataFrame:
#dept_df = pd.DataFrame({
    #'Department': ['HR', 'Sales', 'IT', 'Marketing'],
    #'Location': ['NYC', 'LA', 'SF', 'Chicago']})
# 1) Merge (Joining): Merge the original df with dept_df based on the common column Department. 
#Use a right join to include all departments from dept_df, even if they don't have an employee in df. 
#Print the result.

In [69]:
dept_df = pd.DataFrame({
    'Department': ['HR', 'Sales', 'IT', 'Marketing'],
    'Location': ['NYC', 'LA', 'SF', 'Chicago']
})
print(pd.merge(df,dept_df,on="Department",how="right"))

  First Name Last Name   Salary Department  Bonus%       FullName  \
0      Alice     Smith  60000.0         HR     5.0    Alice Smith
1        Bob     Jones  85000.0      Sales    10.0      Bob Jones
2      David    Wilson  95000.0      Sales    15.0   David Wilson
3    Charlie     Brown  70000.0         IT     5.0  Charlie Brown
4        NaN       NaN      NaN  Marketing     NaN            NaN

   BonusAmount Location
0       3000.0      NYC
1       8500.0       LA
2      14250.0       LA
3       3500.0       SF
4          NaN  Chicago